{% extends "djstripe/base.html" %}

{% block title %}Accounts Dashboard{% endblock title %}

{% block content %}
{{ block.super }}
    <div class="row">
      <div class="col-xs-12">
        <ul class="breadcrumb">
          <li><a href="{% url 'index' %}"><i class="fa fa-home fa-fw"></i></a></li>
          <li class="active">Billing</li>
        </ul>
      </div>
    </div>
    {% include "messages.html" %}
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="fa fa-credit-card"></i>&nbsp;&nbsp;Billing
          </div>
          <div class="panel-body">
            <p>
              <strong>Bizintro Pro:</strong>
        			{% if subscription.is_status_current %}
        			  {% if subscription.is_status_temporarily_current %}
                Bizintro Pro {{ subscription.plan }} plan has been canceled, will run until {{ subscription.current_period_end|date }}.
                {% else %}
                Bizintro Pro {{ subscription.plan }} plan, next billed on {{ subscription.current_period_end|date }}.
                (<a href="{% url 'djstripe:cancel_subscription' %}">Cancel Subscription</a>)
                {% endif %}
        			{% elif user.profile.current_license %}
                {% if user.profile.current_license.type == 'trial' %}
        			  Free Trial will run until {{ user.profile.current_license.end_date_time|date }}
                {% else %}
                Bizintro Pro license will run until {{ user.profile.current_license.end_date_time|date }}
                {% endif %}
        			{% else %}
        			You don't currently have a Bizintro Pro license.
        			{% endif %}
            </p>

    {% if subscription.is_status_current %}
      {% if subscription.is_status_temporarily_current %}
        <p>You can <a href="{% url 'djstripe:subscribe' %}">resubscribe</a>.</p>
      {% else %}
      <!--<p>You can <a href="{% url 'djstripe:subscribe' %}">change</a> your plan
      				or <a href="{% url 'djstripe:cancel_subscription' %}">cancel</a> your subscription.
      </p>-->
      {% endif %}
    {% elif user.profile.current_license %}
      {% if user.profile.current_license.type == 'trial' %}
      <p>You can <a href="{% url 'djstripe:subscribe' %}">subscribe</a>, and end your free trial.</p>
      {% endif %}
    {% else %}
      <p>You can <a href="{% url 'djstripe:subscribe' %}">subscribe</a>.</p>
    {% endif %}
    
		<p>Consult your <a href="{% url 'djstripe:history' %}">payment history</a>.</p>

    {% if customer.card_kind %}
      <p>
          <a class="btn btn-info" data-toggle="modal" href="#show-card">Show Card</a>
          <a class="btn btn-primary" href="{% url 'djstripe:change_card' %}">Change Card</a>
      </p>
    {% endif %}
    
          </div>
        </div>
      </div>
    </div>

  <!-- Modal for showing card -->
  <div class="modal fade" id="show-card">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Card on File</h4>
        </div>
        <div class="modal-body">
            <p><strong>Type:</strong> {{ customer.card_kind }}</p>
            <p><strong>Last 4 Digits:</strong> {{ customer.card_last_4 }}</p>
            <p><small>For security, your card information is stored on <a href="https://stripe.com">stripe.com</a>.</small></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
$(function() {
  
});
</script>
{% endblock javascript %}
