{% extends "djstripe/base.html" %}

{% block title %}Payment History{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><a href="{% url 'index' %}"><i class="fa fa-home fa-fw"></i></a></li>
      <li><a href="{% url 'djstripe:account' %}">Billing</a></li>
      <li class="active">Payment History</li>
    </ul>
  </div>
</div>
{% include "messages.html" %}
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Payment History
      </div>
      <div class="panel-body">
        {% include "djstripe/includes/_history_table.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
    $(function() {
        $.post("{% url 'djstripe:sync_history' %}", function(data) {
            data = data.replace('<h2>Payment History ', '<h2>');
            $('#history-table').html(data);
            $('.in-progress-gif').hide();
        });
    });
</script>
{% endblock javascript %}
