{% extends "email/notification.html" %}
{% load i18n %}
{% block content %}
<p>Please verify your e-mail address.</p>

<p>A new e-mail address has been associated with your account at {{ current_site_name }}. Please click the link below to verify your new address.</p>

<table class="btn-primary %s" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <a href="{{ verify_link }}">Verify Email Address</a>
    </td>
  </tr>
</table>
{% endblock %}
