{% extends "_base.html" %}

{% block content %}
{% include "messages.html" %}
<div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Password Reset</h3>
                    </div>
                    <div class="panel-body">
                    Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
                    <form action="" method="post" class="password-form">{% csrf_token %}
                    {{ form.email.errors }}
                        <div class="form-group">
                            {{ form.email }}
                        </div>
                        <button class="btn btn-block btn-success btn-primary">Reset My Password</button>
                    </form>
                        <div style="margin-top: 10px">
                            Did you remember your password? Please <a href="/accounts/login">login</a>
                        </div>
                        <div>
                            Don't have an account? Please <a href="/accounts/signup/">sign up</a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block javascript %}
{{ block.super }}
        <script>
        $(document).ready(function() {
            $('.password-form input').addClass('form-control').attr('placeholder', 'Email address');
        });
        </script>
{% endblock %}
