{% extends "_base.html" %}

{% block content %}
{% include "messages.html" %}
<div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Password Reset</h3>
                    </div>
                    <div class="panel-body">
<p>Your password has been set.  You may go ahead and log in now.</p>

<p><a href="{{ login_url }}">Login</a></p>
                    </div>
                </div>
            </div>
{% endblock %}            
