{% extends "_base.html" %}

{% block content %}
{% include "messages.html" %}
<div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Password Reset</h3>
                    </div>
                    <div class="panel-body">
                      <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                      <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                        <div style="margin-top: 10px">
                            Did you remember your password? Please <a href="/accounts/login">login</a>
                        </div>
                        <div>
                            Don't have an account? Please <a href="/accounts/signup/">sign up</a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}            
